<div class="row mt-3 mb-3">
    <div class="col-10">
        <h3>Cotizaciones</h3>
    </div>
    <div class="col-2 text-end">
        <button type="button" class="btn btn-outline-secondary" (click)="nuevaCotizacion()">Nueva&nbsp;&nbsp;<i class="fas fa-plus"></i></button>
    </div>
</div>
<hr>
<div class="row mt-2">
    <div class="col-12">
        <div class="card">
            <div class="card-header text-end">
                <h6><span class="badge text-bg-secondary">{{totReg}}</span></h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped table-hover table-sm" style="font-size: small;">
                        <thead class="table-light">
                            <tr>
                                <th width="3%"></th>
                                <!-- <th width="3%"></th> -->
                                <th width="12%" class="text-center">Fecha de cotización</th>
                                <th width="20%">Prospecto / Cliente</th>
                                <th width="19%">Inmueble</th>
                                <th width="12%" class="text-center">Precio de venta</th>
                                <th width="7%" class="text-center">Plazo (meses)</th>
                                <th width="12%" class="text-center">Enganche</th>
                                <th width="12%" class="text-center">Monto del crédito</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let regCot of mdlCotizaciones">
                                <td width="3%">
                                    <a class="text-primary" (click)="editaCotizacion(regCot.id)" style="cursor: pointer;"><i class="fas fa-pencil-alt"></i></a>
                                </td>
                                <!--                                 <td width="3%">
                                    <a class="text-danger" (click)="eliminaCotizacion(regCot.id)" style="cursor: pointer;"><i class="fas fa-eraser"></i></a>
                                </td> -->
                                <td width="12%" class="text-center">{{regCot.datFecCotizacion}}</td>
                                <td width="20%">{{regCot.vchCliente}}</td>
                                <td width="19%">{{regCot.vchInmueble}}</td>
                                <td width="12%" class="text-center">{{regCot.numMontoVenta | number:'1.2-2'}}</td>
                                <td width="7%" class="text-center">{{regCot.intPlazo}}</td>
                                <td width="12%" class="text-center">{{regCot.numMontoEnganche | number:'1.2-2'}} ({{regCot.numPorcEnganche | number:'1.2-2'}}%)</td>
                                <td width="12%" class="text-center">{{regCot.numCredito | number:'1.2-2'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>