<div style="margin-top:100px">
    <div class="row">
        <br />
        <div class="col-2"></div>
        <div class="col-4" style="min-width:200px;">
            <div class="card" style="height: 10Rem; border: 1px solid #198754;">
                <div class="card-body mt-2" role="button" routerLink="/cotizaciones" style="background-image: url( ../../assets/icon/contabilidad.png); background-position: top; background-repeat: no-repeat; background-size: 80px;">
                    <div class="d-flex justify-content-center" style="height:8Rem;">
                        <div class="mt-auto p-2 bd-highlight text-success" style="background-color: aliceblue; border-radius: 5px; border: 1px solid #4D7D93;">
                            <b>Cotizaciones</b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4" style="min-width:200px">
            <div class="card" style="height: 10Rem; border: 1px solid #198754;">
                <div class="card-body mt-2" role="button" routerLink="/creditos" style="background-image: url( ../../assets/icon/credito.png); background-position: top; background-repeat: no-repeat; background-size: 80px;">
                    <div class="d-flex justify-content-center" style="height:8Rem;">
                        <div class="mt-auto p-2 bd-highlight text-success" style="background-color: aliceblue; border-radius: 5px; border: 1px solid #4D7D93;">
                            <b>Créditos</b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>